{
    "rules": {
        "indentation": 2,
        "max-nesting-depth": 7,
        "no-eol-whitespace": true,
        "length-zero-no-unit": true,
        "string-quotes": "single",
        "number-leading-zero": "never",
        "number-max-precision": 8,
        "number-no-trailing-zeros": true,
        "function-calc-no-unspaced-operator": true,
        "function-comma-newline-after": "never-multi-line",
        "function-comma-space-after": "always",
        "function-comma-space-before": "never",
        "function-name-case": "lower",
        "function-parentheses-newline-inside": "never-multi-line",
        "function-parentheses-space-inside": "never",
        "function-url-quotes": "always",
        "function-whitespace-after": "always",
        "unit-case": "lower",
        "unit-no-unknown": true,
        "value-keyword-case": "lower",
        "value-no-vendor-prefix": true,
        "value-list-max-empty-lines": 0,
        "value-list-comma-space-before": "never",
        "value-list-comma-space-after": "always-single-line",
        "shorthand-property-no-redundant-values": true,
        "property-no-vendor-prefix": true,
        "property-no-unknown": true,
        "property-case": "lower",
        "color-hex-case": "lower",
        "color-hex-length": "short",
        "color-named": "never",
        "color-no-invalid-hex": true,
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-empty-line-before": ["never", {
            "ignore": ["after-comment"]
        }],
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-no-ignored-properties": true,
        "declaration-block-no-redundant-longhand-properties": true,
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-properties-order": "alphabetical",
        "declaration-block-semicolon-newline-after": "always-multi-line",
        "declaration-block-semicolon-newline-before": "never-multi-line",
        "declaration-block-semicolon-space-before": "never",
        "declaration-block-trailing-semicolon": "always",
        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-after": ["always", {
            "ignoreAtRules": ["if", "else"]
        }],
        "block-closing-brace-newline-before": "always",
        "block-no-empty": true,
        "block-no-single-line": true,
        "block-opening-brace-newline-after": "always",
        "block-opening-brace-space-before": "always",
        "selector-attribute-brackets-space-inside": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-quotes": "always",
        "selector-class-pattern": "^([\\.\\%]?[a-z]*[-]?[a-z0-9\\-]*)(\\.[a-z0-9\\-]*)?(__[a-z0-9]*[-]?[a-z0-9\\-]*)*(--[a-z0-9]*[-]?[a-z0-9\\-]*)?(\\:[a-z]*)*$",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-descendant-combinator-no-non-space": true,
        "selector-max-compound-selectors": 5,
        "selector-no-empty": true,
        "selector-no-qualifying-type": [true, {
            "ignore": ["attribute","class"]
        }],
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-no-unknown": true,
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-colon-notation": "double",
        "selector-pseudo-element-no-unknown": true,
        "selector-root-no-composition": true,
        "selector-type-case": "lower",
        "selector-type-no-unknown": true,
        "selector-max-empty-lines": 0,
        "selector-list-comma-newline-after": "always",
        "selector-list-comma-newline-before": "never-multi-line",
        "selector-list-comma-space-before": "never",
        "rule-nested-empty-line-before": ["always-multi-line", {
            "except": ["first-nested"],
            "ignore": ["after-comment"]
        }],
        "rule-non-nested-empty-line-before": "always",
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-case": "lower",
        "media-feature-name-no-unknown": true,
        "media-feature-no-missing-punctuation": true,
        "media-feature-parentheses-space-inside": "never",
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "always",
        "media-query-list-comma-space-after": "always-single-line",
        "media-query-list-comma-space-before": "never"
    }
}
