$transparent: transparent !default; // @label: Transparent;
$white: #fff !default; // @label: White;
$white-approx: #fcfcfc !default; // @label: White approx.;
$white-smoke: #eee !default; // @label: White Smoke;
$gainsboro: #e6e6e6 !default; // @label: Gainsboro;
$silver: #bfbfbf !default; // @label: Silver;
$very-light-gray: #ccc !default; // @label: Very Light Gray;
$night-rider: #333 !default; // @label: Night Rider;
$black: #000 !default; // @label: Black;
$endeavour: #27348a !default; // @label: Endeavour;
$tangerine: #f39200 !default; // @label: Tangerine;
$free-speech-red: #d80000 !default; // @label: Free Speech Red;
$eggplant: #c7017f !default; // @label: Eggplant;
